@charset "UTF-8";

 
.icon-money:before { content: '\24'; } /* '$' */
.icon-right-dir:before { content: '\25b8'; } /* '▸' */
.icon-heart-empty:before { content: '\2661'; } /* '♡' */
.icon-ok-circled:before { content: '\2714'; } /* '✔' */
.icon-cancel:before { content: '\2715'; } /* '✕' */
.icon-ccw:before { content: '\27f2'; } /* '⟲' */
.icon-basket:before { content: '\e0d2'; } /* '' */
.icon-trash:before { content: '\e729'; } /* '' */
.icon-down-open:before { content: '\e75c'; } /* '' */
.icon-right-open:before { content: '\e75e'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-sort-down:before { content: '\f0dd'; } /* '' */
.icon-sort-up:before { content: '\f0de'; } /* '' */
.icon-circle-empty:before { content: '\f10c'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-search:before { content: '🔎'; } /* '\1f50e' */
.icon-truck:before { content: '🚚'; } /* '\1f69a' */